* {
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
    font-size: 16px;
}
@font-face {
    font-family: Segoe UI ;
    src: url('../fonts/Segoe\ UI.ttf');
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
   
}

body section.chats {
    overflow-y: scroll;
    overflow-x: hidden;

    width: 26.25rem;
    height: 100%;

}  
body section.home {
    width: 70%;
    height: 100vh;

    overflow-y: hidden;
}

/*Scroll bar styles*/
::-webkit-scrollbar-track {
    background-color: #11181C;
}
::-webkit-scrollbar {
    width: 8.5px;
}
::-webkit-scrollbar-thumb {
    background: #394045;
}

/*==HEADER==*/
section.chats header {
    width: 100%;
    height: 59px;
    background-color: rgb(42, 47, 50);
}
section.chats header div.header{
    padding: .5rem .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
section.chats header div img.profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/*ícones do header*/
.newChatIcon{
    width: 24px;
    height: 24px;

    margin-right: .8rem;

    cursor: pointer;
}
.moreOptionsIcon{
    width: 24px;
    height: 24px;
    transform:rotate(90deg);
    
    margin-left: .8rem;

    cursor: pointer;
}
.subHeader {
    width: 100%;
    height: 49px;

    background-color: #11181C;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 0.1px;
    border-color: rgba(241, 241, 242, 0.13);
    border-style: solid;
}
input[type="text"] {
    width: 24rem;
    height: 35px;
    border-radius: 15px;
    background-color:#323739;

    text-align: center;
    
}
input[type="text"]::-webkit-input-placeholder {
    color:#B1B3B5;
    font-family: Segoe UI;
    font-size: .9rem;

}
label {
    position: absolute;
    left: 1.5rem;
    margin-top: 0.5rem;
}
/*==CHATS==*/
section.chats main {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 46px;
}
section.chats main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 72px;
    padding: .5rem .8rem .5rem .8rem;

    background-color: #11181C;

    border-bottom: 0.1px;
    border-color: rgba(241, 241, 242, 0.13);
    border-style: solid;

    transition: .5s;
}
section.chats main section:hover {
    cursor: pointer;
    background-color: #2D3134;
}
section.chats main section .photo {
    width: 49px;
}
section.chats main section .photo img {
    border-radius: 50%;

    width: 49px;
    height: 49px;

    cursor: pointer;
}
section.chats main section .nameAndTalk {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 67%;
   
}
section.chats main section .nameAndTalk p:first-child {
    color: #f1f1f2eb;
    font-family: Segoe UI;
    font-size: 1rem;
}
section.chats main section .nameAndTalk p:last-child {
    color: #B1B3B5;
    font-family: Segoe UI;
    font-size: 1rem;
}
.viewStatus {
    width: 15px;
    height: 10px;
}
section.chats main section .hour {
    color: #B1B3B5;
    font-family: Segoe UI;
    font-size: .9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 80%;
    
}
.hourHover::after {
    content: url('/icons/dashicons_arrow-down-alt2.svg');
    color: #B1B3B5;
}
